@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
    background-color: hsl(234, 29%, 20%);
}
.container{
    width: 50%;
    height: 50vh;
    background-color: hsl(0, 0%, 100%);
    margin: 8px;
    padding: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;

}

.stay-updated-container{
    width: 60%;
    margin: 8px;
    padding: 24px 16px;
}

.title{
    font-size: 56px;
    color: hsl(234, 29%, 20%);
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.sell-phrase{
    margin-bottom: 8px;
    padding-bottom: 8px;
}