/*takes styling from style.css for same classes*/

.success-container{
    width:40%;
    background-color: hsl(0, 0%, 100%);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 18px 48px 48px 48px;
    
}

#success{
    font-size: 48px;
    padding: 8px;
    margin: 8px;
}