/*takes styling from style.css for same classes*/

.success-container{
    width:40%;
    background-color: hsl(0, 0%, 100%);
    font-family: "Roboto", sans-serif;
    padding: 18px 48px 48px 48px;
    
}

#success{
    font-size: 48px;
    padding: 8px 8px 8px 0;
    margin: 8px 8px 8px 0;
}

.title-success{
    line-height: 0.98;
    font-weight: 700;
}

.confirmation-note{
    font-size: 16px;
    color: hsl(235, 18%, 26%);
}