@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root{
    /*colors*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    /*font size*/
    --fs-400: 1rem;
    --fs-200: 0.9rem;
    /*font family*/
    --ff-sans-serif: "Red Hat Display", sans-serif; 
}

h1, h4, p, body{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background-image: url("/images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
    font-family: var(--ff-sans-serif);
}

p{
    font-size: var(--fs-400);
}

.card{
    border-radius: 1.25rem;
    background-color: white;
    overflow: hidden;
}

.card img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

main > *{
    margin-bottom: 1.5rem;
}

.title{
    padding-top: 2rem;
    font-weight: 900;
    color: var(--dark-blue);
}

.order-description{
    line-height: 25px;
}

.annual-plan-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: var(--very-pale-blue);
    padding: .5rem;
    border-radius: 16px;
}

.title, .annual-plan-txt{
    color: var(--dark-blue);
}

.order-description, .annual-plan-price{
    color: var(--desaturated-blue);
}

.annual-plan-icon{
    width:28%;
    margin: 0 .5rem 0 .5rem;
}

.annual-plan-icon-txt-price-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.annual-plan-link{
    margin: 1rem;
}

.payment-button{
    width: 100%;
    background-color: var(--bright-blue);
    padding: 1rem 2rem;
    color:white;
    font-family: inherit;
    font-size: var(--fs-200);
    font-weight: 700;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}

/*******************************
*  Frontend Mentor attribution *
********************************/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }