:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body{
    background-image: url("/images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
}
.card{
    background-color: white;
}

.card img{
    width: 100%;
}

.title{
    font-weight: 900;
    color: var(--dark-blue);
}

.order-description{
    line-height: 25px;
}

.annual-plan-container{
    width: 100%;
    background-color: var(--very-pale-blue);
}

.title, .annual-plan-txt{
    color: var(--dark-blue);
}

.order-description, .annual-plan-price{
    color: var(--desaturated-blue);
}

.annual-plan-icon{
    width:10%;
}

/*******************************
*  Frontend Mentor attribution *
********************************/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }