
.card{
    background-color: white;
}

/*******************************
*  Frontend Mentor attribution *
********************************/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }