@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-title{
    display: flex;
    justify-content: center;
}