@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,100..800&display=swap');

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-family: "Chivo", sans-serif;
    background-color: black;
}

.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

.title{
    margin: 4px;
    padding: 4px;
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.phrase-container{
    text-align: center;
    font-weight: 100;
    line-height: 38px;
}

.phrase{
    font-size: 26px;
    color:#54E6AF;
    text-transform: uppercase;
}

.phase-everywhere{
    color: white;
}

.container-description{
    text-align: center;
    line-height: 25px;
}

.description{
    color:#C2CBE5;
    font-size: 15px;
    font-weight: 100;
}