@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@0,300...800&display=swap');

body{
    margin: 0;
    padding: 0;
}

/*main container holding logo-title container and phrase-desc-form container*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-family: "Chivo", sans-serif;
}

.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

.title{
    margin: 4px;
    padding: 4px;
    font-size: 30px;
    font-weight: 800;
}

.phrase{
    font-size: 26px;
    color:#54E6AF;
}

.phase-everywhere{
    color: white;
}