body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #121725;
}

.container-tablet-img{
    width: 491px;
    height: 767px;
    background-repeat: no-repeat;
    background-image: url("../assets/Bitmap-tablet.png");
    background-color: #54E6AF;
    opacity: 0.9;
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    right: 0;
    
}

.icon-title{
    display: flex;
    align-items: center;
}

.title{
    margin: 4px;
    padding: 4px;
    font-size: 30px;
    font-weight: 800;
    color: white;
}