@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..800;1,100..800&display=swap');


body{
    margin: 0;
    padding: 0;
}

.container{
    font-family: "Chivo", sans-serif;
    padding: 0 0 24px 24px;
}

.container-tablet-img{
    width: 491px;
    height: 767px;
    background-repeat: no-repeat;
    background-image: url("../assets/Bitmap-tablet.png");
    background-color: #54E6AF;
    opacity: 0.9;
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    right: 0;
    
}

.icon-title{
    display: flex;
    align-items: center;
    padding: 24px 0 24px 0;
}

.title{
    margin: 4px;
    padding: 4px;
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.container-phrase-desc-form{
    width: 85%;
    
}


.container, .container-phrase-desc-form{
    background: #121725;
}

.phrase-container{
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 56px;
}

.phrase{
    color:#54E6AF;
    margin: 22px 0;
    
}

.phrase-everywhere{
    color: white;
}

.container-description{
    color: #C2CBE5;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
}

.description{
    margin: 4px 0;
}

/*mobile phone version not shown*/
.form-container{
    display: none;
}

.email-tablet{
    display: inline-block;
    box-sizing: border-box;
}

.btn-req-access-tablet{
    background-color: #54E6AF;
}

.email-tablet, .btn-req-access-tablet{
    padding: 16px 24px;
    font-family: "Chivo", sans-serif;
    font-size: 14px;
    font-weight: 700;
    
}

.email-tablet, .btn-req-access-tablet, .form-container-tablet{
    border-radius: 25px;
    border: none;
}

.form-container-tablet, .email-tablet{
    background-color: #2C344B;
}
