@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Hanken Grotesk", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
}

.result-summary-container{
    width:50%;
    height: 50vh;
    display: flex;
    background-color: aliceblue;
}

.your-result-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: hsl(252, 100%, 67%);
    padding: 32px;
    border-radius: 24px;
}

.txt-result-description{
    text-align: center;
}

.txt-your-result{
    padding: 8px;
    margin: 8px;
    color: hsl(241, 100%, 89%);
    font-weight:700;
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: blueviolet;
    padding: 32px;
}

.txt-result-score{
    font-size: 64px;
    
}

.txt-great{
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    margin: 8px;
}

.attribution, .attribution a { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}