body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-position: bottom center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.home{
    background-image: url("../assets/home/background-home-mobile.jpg");
}

/*Medium devices (landscape tablets, 768px and up*/
@media screen and (min-width: 35rem){
    .home{
        background-position: center center;
        background-image: url("../assets/home/background-home-tablet.jpg");
    }
}

/*laptop and desktops*/
@media screen and (min-width: 45rem){
    .home{
        background-image: url("../assets/home/background-home-desktop.jpg");
    }
}
