body{
    margin: 0;
    padding: 0;
}

main{
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Extra small to large phones*/
@media screen and (min-width: 280px) {
    main{
        background-image: url("../assets/home/background-home-mobile.jpg");
        height: 932px;
    }
    
}

/*Medium devices (landscape tablets, 768px and up*/
@media screen and (min-width: 768px){
    main{
        background-image: url("../assets/home/background-home-tablet.jpg");
        height: 1368px;
    }
}

/*laptop and desktops*/
@media screen and (min-width: 992px){
    main{
        background-image: url("../assets/home/background-home-desktop.jpg");
        height: 900px;
    }
}

/*navigation bar*/
.nav-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-hamburger-close-icon{
    margin: 8px;
    padding: 8px;
}

#hamburger-menu, #close-icon{
    color: #D0D6F9;
}

.container-links{
    width: 70%;
    height: 100lvh;
    background-color: transparent;
    border: 1px solid white;
}

.links-list{
    color: white;
    list-style-type: none;
}