
:root {
    /*colors*/

    --clr-primary-400: hsl(47, 88%, 63%);   
}

body{
    background-color: var(--clr-primary-400);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }